
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');





header {
    background-color: #ffffff;
    
    grid-area: head;

    }

    main {
        background-color: #ffffff;
    color: #ffffff;
        grid-area: mai;
    }

    footer {
    background-color: #245852;
    grid-area: foot;
    }

    .container{
        position: absolute;
        left: 0px;
        top:1px;
        max-width: 1920px;
        max-height: 5099px;
        display: grid; 
        grid-template-columns: 208px 752px 752px 208px;
        grid-template-rows: 86px auto 654px;
    
        grid-template-areas: 
        "head head head head"
        "mai mai mai mai"
        "foot foot foot foot" ;
    }

    #logo{
        height: 23px;
        width: 80px;
        grid-area: logotip;
    }

    nav > .a1{
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        grid-area: nava1;
    }

    nav > .a2{
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        grid-area: nava2;
    }

    nav > .a3{
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        grid-area: nava3;
    }

    nav > .a4{
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        grid-area: nava4;
    }

    
    .footer-block > p{

        grid-area: p-foot;
    

        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 55px;
        color: #FFFFFF;

    }

    .footer-block > .a1{

        grid-area: a1-foot;
        
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;

    }

    .footer-block > .a2{

        grid-area: a2-foot;
        
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;

    }

    .footer-block > .a3{

        grid-area: a3-foot;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        
        color: #FFFFFF;

    }

    .footer-block > .a4{

        grid-area: a4-foot;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;

    }

    .footer-block{
        position: relative;
        top: 0px;
        left: 0px;
        max-height: 654px;
        max-width: 1920px;
        display: grid;
        grid-template-columns: 14% 7% 79%;
        grid-template-rows: 95px 40px 75px 30px 60px 30px 60px 30px 60px 30px 144px;
        justify-items: start;
        grid-template-areas: 
        ". . ."
        ". p-foot ."
        ". . ."
        ". a1-foot ." 
        ". . ."
        ". a2-foot ."
        ". . ."
        ". a3-foot ."
        ". . ."
        ". a4-foot ."
        ". . .";


        
    }

