
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face{

    font-family: 'Georgia';
    src: url('../fonts/georgiab.ttf') format('ttf');

    font-weight: bold;
    font-style: normal;
    }




header {
    background-color: #ffffff;
    
    grid-area: head;

    }

    main {
        background-color: #ffffff;
    color: #ffffff;
        grid-area: mai;
    }

    footer {
    background-color: #245852;
    grid-area: foot;
    }

    .container{
        position: absolute;
        left: 0px;
        top:1px;
        max-width: 1920px;
        max-height: 5099px;

        display: grid; 
        grid-template-columns: 208px 752px 752px 208px;
        grid-template-rows: 86px auto 654px;
    
        grid-template-areas: 
        "head head head head"
        "mai mai mai mai"
        "foot foot foot foot" ;
    }

    #logo{
        height: 23px;
        width: 80px;
        grid-area: logotip;
    }

    nav {

        grid-area: nava;

        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        
    }

    
    .header-buttons{
        grid-area: hb;
    }

    .header-container{
        position: relative;
        top: 17px;
        left: 0px;
        max-height: 85px;
        max-width: 1920px;
        display: grid;
        grid-template-columns: 275px 80px 172px 557px 283px 277px 276px;
        grid-template-rows:  51px ;
        align-items: center;
        
        grid-template-areas: 
       
        ". logotip . nava . hb ."
        
   
    }


    #nav1{
        grid-area: nav11;
        text-decoration: none;
        color:  #292929;
        
    }

    #nav2{
        grid-area: nav12;
        text-decoration: none;
        color:  #292929;
    }
    #nav3{
        grid-area: nav13;
        text-decoration: none;
        color:  #292929;
    }
    #nav4{
        grid-area: nav14;
        text-decoration: none;
        color:  #292929;
    }

    .navi-container{
        position: relative;
        top: 0px;
        left: 0px;
        max-height: 51px;
        max-width: 557px;
        display: grid;
        grid-template-columns: 96px 72px 82px 72px 103px 71px 61px;
        grid-template-rows: auto;
        align-items: center;
        
        grid-template-areas: 
        
        "nav11 . nav12 . nav13 . nav14";
    }

    #sign-in-butt {
        grid-area: signin;
         
       background: #ffffff;
       color: #000000;
       font-family: Lato;
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 24px;
     }

     #start-trial-butt{
        grid-area: starts;     
        border: 1px solid #01996D;
        box-sizing: border-box;
        border-radius: 4px;
         min-width: 183px;
         min-height: 51px;
         background: #01996D;
         color: #ffffff;
         /*padding-left: 50px ;
         padding-top: 13px;
         padding-right: 50px;
         padding-bottom: 13px;*/
        

         font-family: Lato;
         font-style: normal;
         font-weight: normal;
         font-size: 20px;
         line-height: 25px;
        text-align: center;
         
    }

    .header-buttons-contain{

        position: relative;
        top: 0px;
        left: 0px;
        max-height: 51px;
        max-width: 277px;
        display: grid;
        grid-template-columns: 96px 35px 183px;
        grid-template-rows: 51;
        align-items: center;
        
        grid-template-areas: 
        
        "signin . starts";

    }

 /*Page1*/

    .first-text > p{
        grid-area: h1f;
        font-family: Georgia;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 74px;

        color: #01996D;
    }
    .first-text > div{
        grid-area: divf;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 31px;

        color: #484848;
    }


 .first-text{
     grid-area: first-text-one;
     display: grid;

     grid-template-columns: 440px;
        grid-template-rows: 148px 30px 123px;
        
        
        grid-template-areas: 
        "h1f"
        "."
        "divf";


 }

    .button-fp > button{
        grid-area: buttonf;
        width: 227px;
        height: 65px;
        background: #01996D;
        border: 1px solid #01996D;
        box-sizing: border-box;
        border-radius: 4px;
        color:#FFFFFF;

    }

 .button-fp{
     grid-area: bfp;

     display: grid;
     width: 440px;
     height: 83px;

      grid-template-columns: 227px 213px;
        grid-template-rows: 18px 65px;
        
        
        grid-template-areas: 
        ". ."
        "buttonf .";
 }
 .first-page{

        position: relative;
        top: 0px;
        left: 0px;
        max-height: 895px;
        max-width: 1920px;
        background-image: url(../img/BG.png); 
        display: grid;
        grid-template-columns: 275px 440px 1205px;
        grid-template-rows: 175px 301px 18px 65px 336px;
        align-items: start; 
        
        grid-template-areas: 
        ". . ."
        ". first-text-one ."
        ". . ."
        ". bfp ."
        ". . .";
 }

 /*second page*/

 .how-txt{

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: #424242;

}

.how-it-work>.how-txt{
    
    grid-area: howtxt;
}



.understand{
    
    position: relative;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;

    color: #01996D;
}
.how-it-work>.understand{
    
    grid-area: unders;
}

.second-text{
    
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #424242;
}

.how-it-work>.second-text{
    
    grid-area: secondtxt;
    position: relative;
    max-height:119px;
    max-width: 671px;
}

  .how-it-work{
      grid-area: howitwork;
      position: relative;
      top: 0px;
      left: 275px;
      display: grid;
      grid-template-columns: 584px 136px 671px 22px;
      grid-template-rows: 38px 155px 52px;
      align-items: center; 
      justify-items: start;
    
    grid-template-areas: 
    "howtxt . . ."
    "unders . secondtxt ."
    ". . . .";
  }
  
  .image-end-text{
    grid-area: imgtxt;
    display: grid;
    grid-template-columns: 275px 390px 95px 390px 95px 410px 265px;
    grid-template-rows: 1141px;
    align-items: center; 
    justify-items: start;
    
    grid-template-areas: 
    ". cl21 . cl22 . cl23 .";

  }
  .nadp{
    grid-area: nadpis;
  }

  #cl01{
   
    position: relative;
    width: 157px;
    height: 225px;
    left: 0px;
    top: 0px;
    
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 150%;
    /* identical to box height, or 225px */
    
    text-align: center;
    
    color: rgba(1, 153, 109, 0.2);
  }

  #pers{
    grid-area: person;
    position: relative;;
    left: 88px;
    
    bottom: 90px;
    
    
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    
    text-align: center;
    
    color: #000000;
  }

  .cl21>.second-text{
      grid-area: text001;
      
  }

  #img21{
      grid-area: img01;
  }


  .cl21{
      grid-area: cl21;
      display: grid;
      grid-template-columns: 390px;
      grid-template-rows: 180px 55px 150px 60px 492px 204px;
      align-items: center; 
      justify-items: start;
    
    grid-template-areas: 
    "nadpis"
    "."
    "text001"
    "."
    "img01"
    ".";
      
  }



  #cl02{
   
    position: relative;
    width: 157px;
    height: 225px;
    left: 0px;
    top: 0px;
    
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 150%;
    /* identical to box height, or 225px */
    
    text-align: center;
    
    color: rgba(1, 153, 109, 0.2);
  }

  #w-and-u{
    grid-area: person;
    position: relative;;
    left: 88px;
    
    bottom: 90px;
    
    
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    
    text-align: center;
    
    color: #000000;
  }


  .nadp02{
      grid-area: nadp2;
  }

  .cl22>.second-text{
        grid-area: text2;
        
  }

  #img22{
      grid-area: img022;
  }


  .cl22{
    grid-area: cl22;
    display: grid;
    grid-template-columns: 390px;
    grid-template-rows: 287px 179px 55px 90px 37px 492px;
    align-items: center; 
    justify-items: start;
  
    grid-template-areas: 
    "."
    "nadp2"
    "."
    "text2"
    "."
    "img022";
  }
 




    .nadp03{
        grid-area: nadp3;
    }

    #cl03{
        position: relative;
    width: 175px;
    height: 225px;
    left: 0px;
    top: 0px;
    
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 150%;
    /* identical to box height, or 225px */
    
    text-align: center;
    
    color: rgba(1, 153, 109, 0.2);

    }

    #alivio03{
        grid-area: person;
        position: relative;;
        left: 88px;
        
        bottom: 90px;
        
        
        font-family: Georgia;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        /* identical to box height, or 45px */
        
        text-align: center;
        
        color: #000000;
      }


      .cl23>.second-text{
        grid-area: text3;
        
    }
    #img23{
        grid-area: img023;
    }

    .cl23{
        grid-area: cl23;
        display: grid;
        grid-template-columns: 440px;
        grid-template-rows: 226px 90px 48px 492px 231px;
        align-items: center; 
        justify-items: start;
      
        grid-template-areas: 
        "nadp3"
        "text3"
        "."
        "img023"
        ".";
    }
   
 .secondpage{

    position: relative;
    top: 0px;
    left: -275px;
    max-height: 1606px;
    max-width: 1920px;
    background-color: #FFFFFF; 
    display: grid;
    grid-template-columns: 275px 1413px 232px;
    grid-template-rows: 169px 245px 1141px 51px;
    align-items: center; 
    
    grid-template-areas: 
    ". . ."
    ". howitwork ."
    ". imgtxt ."
    ". . .";
}

/*thirdpage*/

.text31 > h2 {
    grid-area: header32;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    color: #FFFFFF;
}
.text31 > h6 {
    grid-area: header36;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #FFFFFF;
}
.text31 > button {
    grid-area: button31;
    width: 240px;
    height: 65px;
    left: 207px;
    top: 3184px;

    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
    color:#FFFFFF;
}

.text31{
    grid-area: text031;
    display: grid;
    grid-template-columns: 580px;
    grid-template-rows: 81px 158px 33px 39px 57px 65px 83px;
    align-items: center; 
    grid-template-areas: 
    "."
    "header32"
    "."
    "header36"
    "."
    "button31"
    "."

}
.video{
    grid-area: vid;
}

.thirdpage{

    position: relative;
    top: 38px;
    left: 0px;
    
    background-color:  #245852;
     
    display: grid;
    grid-template-columns: 207px 580px 31px 896px 206px;
    grid-template-rows: 229px 516px 177px;
    align-items: center; 
    
    grid-template-areas: 
    ". . . . ."
    ". text031 . vid ."
    ". . . . ."
}

/*pagefour*/


.imag {
    position: relative;
width: 638.46px;
height: 573.26px;
right: 0px;
top: 0px;

background: rgba(1, 153, 109, 0.2);
border-radius: 18.1125px;
}

#img4{
    position: relative;
right: 113.75px;
bottom: 0.1px;
left: 97.11px;

}
#cir{
    grid-area: img-c;
}
#line{
    grid-area: line-c;
}
.card-text-1{
grid-area: ct1;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14.49px;
    line-height: 157%;

    text-align: center;

color: #000000;

}

.card>p{
    grid-area: card-p;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 11.9351px;
line-height: 157%;
text-align: center;
color: #000000;

}
.card-text-2>div{
    grid-area: ct-div;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 15.9292px;
    line-height: 157%;
    /* identical to box height, or 25px */
    
    
    color: #000000;
    
    }
    .card-text-2>p{
        
        font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 10.6195px;
line-height: 157%;
/* identical to box height, or 17px */

text-align: start;

color: #000000;
    }

    #p1-ct{
        grid-area: p1ct;
    }
    #p2-ct{
        grid-area: p2ct;
    }
    .card-text-2{
        grid-area: card2;
        display: grid;
        grid-template-columns: 180px;
        grid-template-rows: 25px 16px 16px 16px 17px 30px;
        grid-template-areas: 
    "ct-div"
    "."
    "p1ct"
    "."
    "p2ct"
    "." ;
        }

.card{
    width: 296.14px;
   height: 293.9px;
    position: relative;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
    top: -161px;
    left: -61px;
    display: grid;
    grid-template-columns: 61px 13px 45px 58px 37px 27px 55px;
    grid-template-rows: 23px 23px 14px 7px 58px 10px 19px 20px 120px;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    ". . . . . . ."
    ". . ct1 ct1 ct1 . ."
    ". . line-c line-c line-c . ."
    ". . . . . . ."
    ". . . img-c . . ."
    ". . . . . . ."
    ". . . card-p . . ."
    ". . . . . . ."
    ". card2 card2 card2 card2 card2 .";


}

.image-and-card{
    grid-area: image-card;
}

.text>.how-txt{
grid-area: tht;
}
.text>.understand{
    grid-area: tu;
}
.text>.second-text{
    grid-area: tst;
}
.text>button{
    grid-area: text-but;
    width: 227px;
height: 65px;
left: 1061px;
top: 3977px;

background: #01996D;
border: 1px solid #01996D;
box-sizing: border-box;
border-radius: 4px;
color: #FFFFFF;
}

.pagefour > .text{
    grid-area: text4;
    display: grid;
    grid-template-columns: 584px;
    grid-template-rows: 39px 10px 158px 22px 81px 40px 65px;
    
    grid-template-areas: 
    "tht"
    "."
    "tu"
    "."
    "tst"
    "."
    "text-but";


}

.pagefour{
    position: relative;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 936px;
    display: grid;
    grid-template-columns: 275px 699px 671px 275px;
    grid-template-rows: 120px 648px 168px;
    grid-template-areas: 
    ". . . ."
    ". image-card text4 ."
    ". . . ."
    
}


/*footer*/
    .footer-block > p{

        grid-area: p-foot;
    

        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 55px;
        color: #FFFFFF;

    }

    .footer-block > .a1{

        grid-area: a1-foot;
        
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        color: #FFFFFF;

    }

    .footer-block > .a2{

        grid-area: a2-foot;
        
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        color: #FFFFFF;

    }

    .footer-block > .a3{

        grid-area: a3-foot;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        color: #FFFFFF;

    }

    .footer-block > .a4{

        grid-area: a4-foot;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        color: #FFFFFF;

    }

    .footer-block{
        position: relative;
        top: 0px;
        left: 0px;
        max-height: 654px;
        max-width: 1920px;
        display: grid;
        grid-template-columns: 14% 7% 79%;
        grid-template-rows: 95px 40px 75px 30px 60px 30px 60px 30px 60px 30px 144px;
        justify-items: start;
        grid-template-areas: 
        ". . ."
        ". p-foot ."
        ". . ."
        ". a1-foot ." 
        ". . ."
        ". a2-foot ."
        ". . ."
        ". a3-foot ."
        ". . ."
        ". a4-foot ."
        ". . .";
    }

